/* this is the banner background color */
.banner-bg-color {
    background-color: #264653;
}
.intro-font-size {
    font-size: 48px;
}
/*---------------------------------------
 this CSS is for background and font color
 --------------------------------------- */
.btn-color {
    background-color: #E76F51;  
}
.orange-color {
    color: #E76F51;
}
.semiblue-color {
    color: #23A6F0
}
.racing-bg-color {
    background-image: linear-gradient(45deg, transparent, black);
}
